<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=2">

<link href="css/bootstrap.min.css" rel="stylesheet">

<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">ระบบสั่งจองเค้กv.1</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">หน้าแรก</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">เค้ก</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">คุกกี้</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">โปรโชั่น</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">วิธีสั่งซื้อสินค้า</a>
					</li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">ร้านค้า</a>
					</li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">ติดต่อเรา</a>
					</li>
					
					
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="ค้นหา"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">ค้นหา</button>
				</form>
			</div>
		</div>
	</nav>

	<img src="images/logo.jpg" alt="ป้ายโลโก้"
		style="width: 100%; height: 350px">

	<div class="container-fluid">
		<!-- Content here -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Picture</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td><img src="images/cake_unicon.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_foxy.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_almon.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td><img src="images/cake_mily.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_mily_white.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_mily_twotone.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td><img src="images/cake_unicon.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_unicon.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
					<td><img src="images/cake_unicon.png" class="img-fluid" alt="..." style="width: 150px; height: 150px"></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>